---
import Layout from "../layouts/Layout.astro";
import MiComponente from "@components/my-component.svelte";
---

<Layout>
    <h1 class="font-bold text-3xl">Hola Mundo!!!</h1>

    <MiComponente title="Mi Componente" />
</Layout>
